:root {
  --primary-color: green;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0c3fc;
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding-top: 1em;
  padding-right: 1.2em;
  padding-left: 1.2em;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  height: 100%;
}

.hide_scrollbar::-webkit-scrollbar {
  display: none;
}

.hide_scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

nav {
  position: fixed;
  height: 50px;
  width: 100%;
  padding: 0 1.2em;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav #search {
  height: 30px;
  padding: 0.2em;
  border-radius: 200px;
  background-color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
}
nav #search input {
  border: none;
  font-size: 1.2rem;
  padding: 0 0.3em 0 0.3em;
  width: 80px;
  max-width: 200px;
  transition: width 0.2s ease-in-out;
}
nav #search input:focus {
  outline: none;
  width: 200px;
}
nav #search svg#search_icon {
  --icon-size: 30px;
  fill: grey;
  width: var(--icon-size);
  height: var(--icon-size);
}
nav #cart {
  position: relative;
}
nav #cart:hover {
  cursor: pointer;
}
nav #cart #cart_items_counter {
  --counter-size: 15px;
  position: absolute;
  width: var(--counter-size);
  height: var(--counter-size);
  top: -5px;
  right: -15px;
  display: grid;
  place-items: center;
  font-size: 13px;
  color: white;
  background-color: #1d7e1d;
  border-radius: 50%;
}
nav #cart svg#cart_icon {
  --icon-size: 25px;
  fill: white;
  width: var(--icon-size);
  height: var(--icon-size);
}

section#hero {
  position: relative;
  z-index: -1;
  height: 200px;
  background-image: url(../utils/hD5SzU.jpg);
  background-position: center;
}
section#hero .container {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  color: white;
}
section#hero h1 {
  font-size: 2rem;
}
section#hero::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.1;
  background-color: #d400ff;
}

section#categories .container {
  display: flex;
  gap: 1em;
  overflow-x: scroll;
}
section#categories .category {
  flex-shrink: 0;
  padding: 0.5em 1em;
  border-radius: 200px;
  border: 1px solid purple;
  cursor: pointer;
}

section#products {
  margin-top: 1em;
}
section#products .container .products_category {
  border-radius: 3px;
  padding: 0.5em;
  margin-top: 1em;
  min-height: 100px;
}
section#products .container #products_container {
  padding: 0.5em;
  display: flex;
  gap: 1em;
  overflow-x: scroll;
}
section#products .container .product {
  flex-shrink: 0;
  width: 150px;
  display: flex;
  flex-direction: column;
}
section#products .container .product .product_image {
  aspect-ratio: 1/1;
  background-color: rgb(188, 136, 255);
  border-radius: 5px;
  overflow: hidden;
}
section#products .container .product .product_image img {
  width: 100%;
}
section#products .container .product .product_name {
  padding: 3px 0;
  text-align: center;
}
section#products .container .product .product_price {
  padding: 3px 0;
  text-align: center;
}

footer {
  background-color: #1d001d;
  height: 100px;
  margin-top: 1em;
}
footer #copyright {
  height: 30px;
  background-color: #0e000e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(77, 77, 77);
  font-size: 0.8rem;
}